@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	text-decoration: none;
}
a {
	text-decoration: none;
}
